
{%extends "blog/base.html"%}
{%load crispy_forms_tags%}
{%block head%}

<title>New Post </title>
	{%endblock head%}

{%block content%}

<div class='content-section'>
	<form method='POST'>
		{%csrf_token%}
		<fieldset class="form-group">
			<legend style="color: white"class='border-bottom mb-4'> New Post
				
			</legend>
			{{form|crispy}}
			
		</fieldset>

		<div class="form-group">
			<button class='btn btn-outline-info' type="submit">Post</button>
		</div>

	</form>
	
</div>
<style type="text/css">
	label{
		color: white;
	}


</style>
{%endblock content%}